@import url('https://fonts.googleapis.com/css2?family=Trade+Winds&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sail&family=Trade+Winds&display=swap');

/* ***************** navBar******* */

.bg-navBar {
    background-color: #2F4F4F;
    width: 100%;
}

.navbar-logo {
    color: #F4E97B !important;

}

.navbar-tv {
    color: #fffaf4;
    font-size: 1rem;
}



.img-fluid {
    margin-top: 50px;

}
@media (max-width : 600px) {
    .img-fluid {
        margin-top: 100px;
    }

    .card-class {
        margin-bottom: 5%;
    }
}

.text-light {
    font-weight: 700;
}

.text-bold {
    font-weight: 900 !important;
    font-family: 'Sail';
    color: #F4E97B !important;
    font-size: 1.5rem;
}

.card-img img
{
    object-fit: cover;
    object-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 60vh;
}

.bg-movie-section {
    
    background: linear-gradient(180deg,#0e0102 , #300E0F, #300E0F, #300E0F, #300E0F, #300E0F, #300E0F, #300E0F);

}

.card {
    border: none !important;
    cursor: pointer;
    transition: all ease-in-out 0.5s;

}

.card:hover {
    box-shadow: 0 0 8px 3px #f4ea7b9c !important;
}

.bg-footer {
    background-color: #2F4F4F;
    width: 100%;


}

.text-size {
    font-size: 2rem;
}

.text-size-tv {
    font-size: 1.5rem;
}

.card-title {
    font-size: 1rem;
    font-weight: bold !important;
}

a {
    text-decoration: none !important;
}

.left {
    padding-left: 50% !important;
}


.color-text {
    color: #F4E97B !important;
    font-weight: 1000 !important;
    padding: .375rem .75rem;
}


.active {
    border-bottom: 1px solid #F4E97B;
    padding-bottom: 1px;
}

.rounded-img
{
    width: 40%;
}
.pagination {
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: #e6e8ec !important;
    text-align: center;
    font-weight: 900;
    letter-spacing: 0.3rem;
    width: 50%;
    margin: 3% auto;
    padding-bottom: 3rem;
}

.youtube-iframe {
    margin-top: 2rem !important;
    margin-bottom: 2rem !important;
}

.py-1 {

    margin-top: 5rem !important;
}

a {
    text-decoration: none !important;
    color: black !important;
}

.title-genre {
    border: 1px solid transparent;
    background-color: transparent;
}

.title-genre:focus,
.title-genre:hover {
    border: 1px solid #F4E97B;
    border-radius: 12px;
}

.pg-active:hover {
    border-bottom: 1px solid #fff;
}

.pg-active::after {
    outline: #F4E97B;

}

.color-text-details {
    font-weight: 600;
}
.color
{
    color: #F4E97B !important;
}
.fw-bold {
    font-weight: 700 !important;
}
.f-family
{
    font-size: 1.4rem;
}
